### Sequence Types

Sequence types have the general concept of a first element, a second element, and so on. Basically an ordering of the sequence items using the natural numbers. In Python (* many other languages) the starting index is set to `0`, not `1`.

So the first item has index `0`, the second item has index `1`, and so on.

Python has built-in mutable and immutable sequence types.

Strings, tuples are immutable - we can access but not modify the **content** of the **sequence**:

In [1]:
t = (1, 2, 3)

In [2]:
t[0]

1

In [3]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

But of course, if the sequence contains mutable objects, then although we cannot modify the sequence of elements (cannot replace, delete or insert elements), we certainly **can** change the contents of the mutable objects:

In [4]:
t = ( [1, 2], 3, 4)

`t` is immutable, but its first element is a mutable object:

In [5]:
t[0][0] = 100

In [6]:
t

([100, 2], 3, 4)

#### Iterables

An **iterable** is just something that can be iterated over, for example using a `for` loop:

In [7]:
t = (10, 'a', 1+3j)

In [8]:
s = {10, 'a', 1+3j}

In [9]:
for c in t:
    print(c)

10
a
(1+3j)

In [10]:
for c in s:
    print(c)

(1+3j)
10
a

Note how we could iterate over both the tuple and the set. Iterating the tuple preserved the **order** of the elements in the tuple, but not for the set. Sets do not have an ordering of elements - they are iterable, but not sequences.

Most sequence types support the `in` and `not in` operations. Ranges do too, but not quite as efficiently as lists, tuples, strings, etc.

In [11]:
'a' in ['a', 'b', 100]

True

In [12]:
100 in range(200)

True

#### Min, Max and Length

Sequences also generally support the `len` method to obtain the number of items in the collection. Some iterables may also support that method.

In [13]:
len('python'), len([1, 2, 3]), len({10, 20, 30}), len({'a': 1, 'b': 2})

(6, 3, 3, 2)

Sequences (and even some iterables) may support `max` and `min` as long as the data types in the collection can be **ordered** in some sense (`<` or `>`).

In [14]:
a = [100, 300, 200]
min(a), max(a)

(100, 300)

In [15]:
s = 'python'
min(s), max(s)

('h', 'y')

In [30]:
s = {'p', 'y', 't', 'h', 'o', 'n'}
min(s), max(s)

TypeError: 'set' object is not subscriptable

But if the elements do not have an ordering defined:

In [17]:
a = [1+1j, 2+2j, 3+3j]
min(a)

TypeError: '<' not supported between instances of 'complex' and 'complex'

`min` and `max` will work for heterogeneous types as long as the elements are pairwise comparable (`<` or `>` is defined). 

For example:

In [18]:
from decimal import Decimal

In [19]:
t = 10, 20.5, Decimal('30.5')

In [20]:
min(t), max(t)

(10, Decimal('30.5'))

In [21]:
t = ['a', 10, 1000]
min(t)

TypeError: '<' not supported between instances of 'int' and 'str'

Even `range` objects support `min` and `max`:

In [29]:
r = range(10, 200)

False

#### Concatenation

We can **concatenate** sequences using the `+` operator:

In [31]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [32]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

Note that the type of the concatenated result is the same as the type of the sequences being concatenated, so concatenating sequences of varying types will not work:

In [33]:
(1, 2, 3) + [4, 5, 6]

TypeError: can only concatenate tuple (not "list") to tuple

In [34]:
'abc' + ['d', 'e', 'f']

TypeError: can only concatenate str (not "list") to str

Note: if you really want to concatenate varying types you'll have to transform them to a common type first:

In [35]:
(1, 2, 3) + tuple([4, 5, 6])

(1, 2, 3, 4, 5, 6)

In [36]:
tuple('abc') + ('d', 'e', 'f')

('a', 'b', 'c', 'd', 'e', 'f')

#### Repetition

Most sequence types also support **repetition**, which is essentially concatenating the same sequence an integer number of times:

In [44]:
'abc' * 5

'abcabcabcabcabc'

In [47]:
[1, 2, 3] * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

#### Finding things in Sequences

We can find the index of the occurrence of an element in a sequence:

In [48]:
s = "gnu's not unix"

In [52]:
s.index('n')

1

In [53]:
s.index('n', 1), s.index('n', 2), s.index('n', 8)

(1, 6, 11)

An exception is raised of the element is not found, so you'll want to catch it if you don't want your app to crash:

In [56]:
s.index('n', 13)

ValueError: substring not found

In [57]:
try:
    idx = s.index('n', 13)
except ValueError:
    print('not found')

not found

Note that these methods of finding objects in sequences do not assume that the objects in the sequence are ordered in any way. These are basically searches that iterate over the sequence until they find (or not) the requested element.

If you have a sorted sequence, then other search techniques are available - such as binary searches. I'll cover some of these topics in the extras section of this course.

#### Slicing

In [58]:
s = 'python'
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
s[0:3], s[4:6]

('pyt', 'on')

In [62]:
l[0:3], l[4:6]

([1, 2, 3], [5, 6])

It's ok to extend ranges past the bounds of the sequence:

In [63]:
s[4:1000]

'on'

If your first argument in the slice is `0`, you can even omit it. Omitting the second argument means it will include all the remaining elements:

In [64]:
s[0:3], s[:3]

('pyt', 'pyt')

In [68]:
s[3:1000], s[3:], s[:]

('hon', 'hon', 'python')

We can even have extended slicing, which provides a start, stop and a step:

In [69]:
s, s[0:5], s[0:5:2]

('python', 'pytho', 'pto')

In [70]:
s, s[::2]

('python', 'pto')

Technically we can also use negative values in slices, including extended slices (more on that later):

In [71]:
s, s[-3:-1], s[::-1]

('python', 'ho', 'nohtyp')

In [72]:
r = range(11)  # numbers from 0 to 10 (inclusive)

In [73]:
print(r)
print(list(r))

range(0, 11)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
print(r[:5])
r

range(0, 5)

range(0, 11)

In [75]:
print(list(r[:5]))

[0, 1, 2, 3, 4]

As you can see, slicing a range returns a range object as well, as expected.

#### Hashing

Immutable sequences generally support a `hash` method that we'll discuss in detail in the section on mapping types:

In [77]:
l = (1, 2, 3)
hash(l)

529344067295497451

In [78]:
s = '123'
hash(s)

4415578913719473902

In [79]:
r = range(10)
hash(r)

-7546101314042312252

But mutable sequences (and mutable types in general) do not:

In [80]:
l = [1, 2, 3]

In [81]:
hash(l)

TypeError: unhashable type: 'list'

Note also that a hashable sequence, is no longer hashable if one (or more) of it's elements are not hashable:

In [96]:
d = {{1,2,3}:'sundar',"name":"Sai"}

d

TypeError: unhashable type: 'set'

In [94]:
t = (1, 2, [10, 20])
hash(t)

TypeError: unhashable type: 'list'

But this would work:

In [95]:
t = ('python', (1, 2, 3))
hash(t)

341855915076804316

In general, immutable types are likely hashable, while immutable types are not. So numbers, strings, tuples, etc are hashable, but lists and sets are not:

In [99]:
from decimal import Decimal
d = Decimal(10.5)
hash(d)

1152921504606846986

Sets are not hashable:

In [100]:
s = {1, 2, 3}
hash(s)

TypeError: unhashable type: 'set'

But frozensets, an immutable variant of the set, are:

In [101]:
s = frozenset({1, 2, 3})

In [102]:
hash(s)

-272375401224217160

#### Caveats with Concatenation and Repetition

Consider this:

In [103]:
x = [2000]

In [104]:
id(x[0])

139696312452688

In [105]:
l = x + x

In [106]:
l

[2000, 2000]

In [107]:
id(l[0]), id(l[1])

(139696312452688, 139696312452688)

As expected, the objects in `l[0]` and `l[1]` are the same.

Could also use:

In [108]:
l[0] is l[1]

True

This is not a big deal if the objects being concatenated are immutable. But if they are mutable:

In [109]:
x = [ [0, 0] ]
l = x + x

In [110]:
l

[[0, 0], [0, 0]]

In [111]:
l[0] is l[1]

True

And then we have the following:

In [112]:
l[0][0] = 100

In [113]:
l[0]

[100, 0]

In [114]:
l

[[100, 0], [100, 0]]

Notice how changing the 1st item of the 1st element also changed the 1st item of the second element.

While this seems fairly obvious when concatenating using the `+` operator as we have just done, the same actually happens with repetition and may not seem so obvious:

In [115]:
x = [ [0, 0] ]

In [116]:
m = x * 3

In [117]:
m

[[0, 0], [0, 0], [0, 0]]

In [118]:
m[0][0] = 100

In [119]:
m

[[100, 0], [100, 0], [100, 0]]

And in fact, even `x` changed:

In [120]:
x

[[100, 0]]

If you really want these repeated objects to be different objects, you'll have to copy them somehow. A simple list comprehensions would work well here:

In [121]:
x = [ [0, 0] ]
m = [e.copy() for e in x*3]

In [122]:
m

[[0, 0], [0, 0], [0, 0]]

In [123]:
m[0][0] = 100

In [124]:
m

[[100, 0], [0, 0], [0, 0]]

In [ ]:
x

### Lists vs Tuples

Remember that both lists and tuples are considered **sequence** types.

Remember also that we should consider tuples as data structures (position has meaning) as we saw in an earlier section on named tuples.

However, in this context we are going to view tuples as "immutable lists".

Generally, tuples are more efficient that lists, so, unless you need mutability of the container, prefer using a tuple over a list.

#### Creating Tuples

Here is Wikipedia's definition of constant folding:

Constant folding is the process of recognizing and evaluating constant expressions at compile time rather than computing them at runtime.

To see how this works, we are going to use the dis module which allows to see the disassembled Python bytecode - not for the *faint of heart, but can be really useful! ;)

In [125]:
from dis import dis

We want to understand what Python does when it compiles statements such as:

In [126]:
(1, 2, 3)
[1, 2, 3]

[1, 2, 3]

In [127]:
dis(compile('(1,2,3, "a")', 'string', 'eval'))

  1           0 LOAD_CONST               0 ((1, 2, 3, 'a'))
              2 RETURN_VALUE

In [128]:
dis(compile('[1,2,3, "a"]', 'string', 'eval'))

  1           0 LOAD_CONST               0 (1)
              2 LOAD_CONST               1 (2)
              4 LOAD_CONST               2 (3)
              6 LOAD_CONST               3 ('a')
              8 BUILD_LIST               4
             10 RETURN_VALUE

Notice how for a tuple containing constants (such as ints and strings in this case), the values are loaded in one step, a single constant value essentially. 

Lists, on the other hand are built-up one element at a time.

In fact, we can easily time this:

In [129]:
from timeit import timeit

In [130]:
timeit("(1,2,3,4,5,6,7,8,9)", number=10_000_000)

0.1120801719953306

In [131]:
timeit("[1,2,3,4,5,6,7,8,9]", number=10_000_000)

1.02518513299583

As you can see creating a tuple was faster.

Now this changes if the tuple elements are not constants, such as lists or functions for example

In [132]:
def func1():
    pass

In [135]:
dis(compile('(func1, 10, 20)', 'string', 'eval'))

  1           0 LOAD_NAME                0 (func1)
              2 LOAD_CONST               0 (10)
              4 LOAD_CONST               1 (20)
              6 BUILD_TUPLE              3
              8 RETURN_VALUE

In [141]:
dis(compile('[func1, 10, 20]', 'string', 'eval'))

  1           0 LOAD_NAME                0 (func1)
              2 LOAD_CONST               0 (10)
              4 LOAD_CONST               1 (20)
              6 BUILD_LIST               3
              8 RETURN_VALUE

or

In [137]:
dis(compile('([1,2], 10, 20)', 'string', 'eval'))

  1           0 LOAD_CONST               0 (1)
              2 LOAD_CONST               1 (2)
              4 BUILD_LIST               2
              6 LOAD_CONST               2 (10)
              8 LOAD_CONST               3 (20)
             10 BUILD_TUPLE              3
             12 RETURN_VALUE

In [138]:
dis(compile('[[1,2], 10, 20]', 'string', 'eval'))

  1           0 LOAD_CONST               0 (1)
              2 LOAD_CONST               1 (2)
              4 BUILD_LIST               2
              6 LOAD_CONST               2 (10)
              8 LOAD_CONST               3 (20)
             10 BUILD_LIST               3
             12 RETURN_VALUE

this is reflected in the timings too:

In [139]:
timeit("([1, 2], 10, 20)", number=1_000_000)

0.15157052999711595

In [140]:
timeit("[[1, 2], 10, 20]", number=1_000_000)

0.11940534099994693

#### Storage Efficiency

When mutable container objects such as lists, sets, dictionaries, etc are created, and during their lifetime, the allocated capacity of these containers (the number of items they can contain) is greater than the number of elements in the container. This is done to make adding elements to the collection more efficient, and is called over-allocating.

Immutable containers on the other hand, since their item count is fixed once they have been created, do not need this overallocation - so their storage efficiency is greater.

Let's look at the size (memory) of lists and tuples as they get larger:

In [142]:
import sys

In [143]:

def size_delta(ds):
    prev = 0
    for i in range(10):
        c = ds(range(i+1))
        size_c = sys.getsizeof(c)
        delta, prev = size_c - prev, size_c
        print(f'{i+1} items: {size_c}, delta={delta}')

In [145]:
for i in range(10):
    print(tuple(range(i+1)))

(0,)
(0, 1)
(0, 1, 2)
(0, 1, 2, 3)
(0, 1, 2, 3, 4)
(0, 1, 2, 3, 4, 5)
(0, 1, 2, 3, 4, 5, 6)
(0, 1, 2, 3, 4, 5, 6, 7)
(0, 1, 2, 3, 4, 5, 6, 7, 8)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [144]:
size_delta(tuple)

1 items: 48, delta=48
2 items: 56, delta=8
3 items: 64, delta=8
4 items: 72, delta=8
5 items: 80, delta=8
6 items: 88, delta=8
7 items: 96, delta=8
8 items: 104, delta=8
9 items: 112, delta=8
10 items: 120, delta=8

In [146]:
c = []
prev = sys.getsizeof(c)
print(f'0 items: {sys.getsizeof(c)}')
for i in range(255):
    c.append(i)
    size_c = sys.getsizeof(c)
    delta, prev = size_c - prev, size_c
    print(f'{i+1} items: {size_c}, delta={delta}')

0 items: 56
1 items: 88, delta=32
2 items: 88, delta=0
3 items: 88, delta=0
4 items: 88, delta=0
5 items: 120, delta=32
6 items: 120, delta=0
7 items: 120, delta=0
8 items: 120, delta=0
9 items: 184, delta=64
10 items: 184, delta=0
11 items: 184, delta=0
12 items: 184, delta=0
13 items: 184, delta=0
14 items: 184, delta=0
15 items: 184, delta=0
16 items: 184, delta=0
17 items: 256, delta=72
18 items: 256, delta=0
19 items: 256, delta=0
20 items: 256, delta=0
21 items: 256, delta=0
22 items: 256, delta=0
23 items: 256, delta=0
24 items: 256, delta=0
25 items: 256, delta=0
26 items: 336, delta=80
27 items: 336, delta=0
28 items: 336, delta=0
29 items: 336, delta=0
30 items: 336, delta=0
31 items: 336, delta=0
32 items: 336, delta=0
33 items: 336, delta=0
34 items: 336, delta=0
35 items: 336, delta=0
36 items: 424, delta=88
37 items: 424, delta=0
38 items: 424, delta=0
39 items: 424, delta=0
40 items: 424, delta=0
41 items: 424, delta=0
42 items: 424, delta=0
43 items: 424, delta=0
44 items: 424, delta=0
45 items: 424, delta=0
46 items: 424, delta=0
47 items: 520, delta=96
48 items: 520, delta=0
49 items: 520, delta=0
50 items: 520, delta=0
51 items: 520, delta=0
52 items: 520, delta=0
53 items: 520, delta=0
54 items: 520, delta=0
55 items: 520, delta=0
56 items: 520, delta=0
57 items: 520, delta=0
58 items: 520, delta=0
59 items: 632, delta=112
60 items: 632, delta=0
61 items: 632, delta=0
62 items: 632, delta=0
63 items: 632, delta=0
64 items: 632, delta=0
65 items: 632, delta=0
66 items: 632, delta=0
67 items: 632, delta=0
68 items: 632, delta=0
69 items: 632, delta=0
70 items: 632, delta=0
71 items: 632, delta=0
72 items: 632, delta=0
73 items: 760, delta=128
74 items: 760, delta=0
75 items: 760, delta=0
76 items: 760, delta=0
77 items: 760, delta=0
78 items: 760, delta=0
79 items: 760, delta=0
80 items: 760, delta=0
81 items: 760, delta=0
82 items: 760, delta=0
83 items: 760, delta=0
84 items: 760, delta=0
85 items: 760, delta=0
86 items: 760, delta=0
87 items: 760, delta=0
88 items: 760, delta=0
89 items: 904, delta=144
90 items: 904, delta=0
91 items: 904, delta=0
92 items: 904, delta=0
93 items: 904, delta=0
94 items: 904, delta=0
95 items: 904, delta=0
96 items: 904, delta=0
97 items: 904, delta=0
98 items: 904, delta=0
99 items: 904, delta=0
100 items: 904, delta=0
101 items: 904, delta=0
102 items: 904, delta=0
103 items: 904, delta=0
104 items: 904, delta=0
105 items: 904, delta=0
106 items: 904, delta=0
107 items: 1064, delta=160
108 items: 1064, delta=0
109 items: 1064, delta=0
110 items: 1064, delta=0
111 items: 1064, delta=0
112 items: 1064, delta=0
113 items: 1064, delta=0
114 items: 1064, delta=0
115 items: 1064, delta=0
116 items: 1064, delta=0
117 items: 1064, delta=0
118 items: 1064, delta=0
119 items: 1064, delta=0
120 items: 1064, delta=0
121 items: 1064, delta=0
122 items: 1064, delta=0
123 items: 1064, delta=0
124 items: 1064, delta=0
125 items: 1064, delta=0
126 items: 1064, delta=0
127 items: 1240, delta=176
128 items: 1240, delta=0
129 items: 1240, delta=0
130 items: 1240, delta=0
131 items: 1240, delta=0
132 items: 1240, delta=0
133 items: 1240, delta=0
134 items: 1240, delta=0
135 items: 1240, delta=0
136 items: 1240, delta=0
137 items: 1240, delta=0
138 items: 1240, delta=0
139 items: 1240, delta=0
140 items: 1240, delta=0
141 items: 1240, delta=0
142 items: 1240, delta=0
143 items: 1240, delta=0
144 items: 1240, delta=0
145 items: 1240, delta=0
146 items: 1240, delta=0
147 items: 1240, delta=0
148 items: 1240, delta=0
149 items: 1440, delta=200
150 items: 1440, delta=0
151 items: 1440, delta=0
152 items: 1440, delta=0
153 items: 1440, delta=0
154 items: 1440, delta=0
155 items: 1440, delta=0
156 items: 1440, delta=0
157 items: 1440, delta=0
158 items: 1440, delta=0
159 items: 1440, delta=0
160 items: 1440, delta=0
161 items: 1440, delta=0
162 items: 1440, delta=0
163 items: 1440, delta=0
164 items: 1440, delta=0
165 items: 1440, delta=0
166 items: 1440, delta=0
167 items: 1440, delta=0
168 items: 1440, delta=0
169 items: 1440, delta=0
170 items: 1440, delta=0
171 items: 1440, delta=0
172 items: 1440, delta=0
173 items: 1440, delta=0
174 items: 1664, delta=224
175 items: 1664, delta=0
176 items: 1664, delta=0
177 items: 1664, delta=0
178 items: 1664, delta=0
179 items: 1664, delta=0
180 items: 1664, delta=0
181 items: 1664, delta=0
182 items: 1664, delta=0
183 items: 1664, delta=0
184 items: 1664, delta=0
185 items: 1664, delta=0
186 items: 1664, delta=0
187 items: 1664, delta=0
188 items: 1664, delta=0
189 items: 1664, delta=0
190 items: 1664, delta=0
191 items: 1664, delta=0
192 items: 1664, delta=0
193 items: 1664, delta=0
194 items: 1664, delta=0
195 items: 1664, delta=0
196 items: 1664, delta=0
197 items: 1664, delta=0
198 items: 1664, delta=0
199 items: 1664, delta=0
200 items: 1664, delta=0
201 items: 1664, delta=0
202 items: 1920, delta=256
203 items: 1920, delta=0
204 items: 1920, delta=0
205 items: 1920, delta=0
206 items: 1920, delta=0
207 items: 1920, delta=0
208 items: 1920, delta=0
209 items: 1920, delta=0
210 items: 1920, delta=0
211 items: 1920, delta=0
212 items: 1920, delta=0
213 items: 1920, delta=0
214 items: 1920, delta=0
215 items: 1920, delta=0
216 items: 1920, delta=0
217 items: 1920, delta=0
218 items: 1920, delta=0
219 items: 1920, delta=0
220 items: 1920, delta=0
221 items: 1920, delta=0
222 items: 1920, delta=0
223 items: 1920, delta=0
224 items: 1920, delta=0
225 items: 1920, delta=0
226 items: 1920, delta=0
227 items: 1920, delta=0
228 items: 1920, delta=0
229 items: 1920, delta=0
230 items: 1920, delta=0
231 items: 1920, delta=0
232 items: 1920, delta=0
233 items: 1920, delta=0
234 items: 2208, delta=288
235 items: 2208, delta=0
236 items: 2208, delta=0
237 items: 2208, delta=0
238 items: 2208, delta=0
239 items: 2208, delta=0
240 items: 2208, delta=0
241 items: 2208, delta=0
242 items: 2208, delta=0
243 items: 2208, delta=0
244 items: 2208, delta=0
245 items: 2208, delta=0
246 items: 2208, delta=0
247 items: 2208, delta=0
248 items: 2208, delta=0
249 items: 2208, delta=0
250 items: 2208, delta=0
251 items: 2208, delta=0
252 items: 2208, delta=0
253 items: 2208, delta=0
254 items: 2208, delta=0
255 items: 2208, delta=0

As you can see the size of the list doesn't grow every time we append an element - it only does so occasionally. Resizing a list is expensive, so not resizing every time an item is added helps out, so this method called *overallocation* is used that creates a larger container than required is used - on the other hand you don't want to overallocate too much as this has a memory cost.

**Fun Fact**:
If you're interested in learning more about why over-allocating is done and how it works (amortization), Wikipedia also has an excellent article on it: https://en.wikipedia.org/wiki/Dynamic_array

The book "Introduction to Algorithms", by "Cormen, Leiserson, Rivest and Stein" has a thorough discussion on it (under dynamic tables).

#### Retrieving Elements

Let's time retrieving an element from a tuple and a list:

In [147]:
t = tuple(range(100_0000))
l = list(t)

In [151]:
timeit('t[99_9999]', globals=globals(), number=10_000_000)

0.3880037409981014

In [150]:
timeit('l[99_9999]', globals=globals(), number=10_000_000)

0.4328831509919837

As you can see, retrieving elements from a tuple is very slightly faster than from a list. But consideting how small the difference really is, I'm not sure I would worry about it too much.

There is a reason why this should be true, and it has to do with how tuples and lists are implemented in CPython. Tuples have direct access (pointers) to their elements, while lists need to first access another array that contains the pointers to the elements of the list.

### Sorting Sequences

We have two different ways of sorting a mutable sequence:

* returning a new sorted sequence
* in-place sorting (mutating sequence) - obviously this works for mutable sequence types only!

For any iterable, the built-in `sorted` function will return a **list** containing the sorted elements of the iterable.

So a few things here: 
* any iterable can be sorted (as long as it is finite)
* the elements must be pair-wise comparable (possibly indirectly via a sort key)
* the returned result is always a list
* the original iterable is not mutated

In addition:
* optionally specify a `key` - a function that extracts a comparison key for each element. If that key is not specified, Python will use the natural ordering of the elements (such as __gt__, etc, so that fails if they do not!)
* optional specify the `reverse` argument which will return the reversed sort

Numbers have a natural ordering for example, so sorting an iterable of numbers is easy:

In [152]:
t = 10, 3, 5, 8, 9, 6, 1
sorted(t)

[1, 3, 5, 6, 8, 9, 10]

As you can see we sorted a `tuple` and got a `list` back.

    We can sort non-sequence iterables too:

In [153]:
s = {10, 3, 5, 8, 9, 6, 1}
sorted(s)

[1, 3, 5, 6, 8, 9, 10]

For things like dictionaries, this works slightly differently. Remember what happens when we iterate a dictionary?

In [154]:
d = {3: 100, 2: 200, 1: 10}
for item in d:
    print(item)

3
2
1

We actually are iterating the keys.

Same thing happens with sorting - we'll end up just sorting the keys:

In [155]:
d = {3: 100, 2: 200, 1: 10}
sorted(d)

[1, 2, 3]

But what if we wanted to sort the dictionary keys based on the values instead?

This is where the `key` argument of `sorted` will come in handy.

We are going to specify to the `sorted` function that it should use the value of each item to use as a sort key:

In [156]:
d = {'a': 100, 'b': 50, 'c': 10}
sorted(d, key=lambda k: d[k])

['c', 'b', 'a']

Basically the `key` argument was called on every item being sorted - these items were the keys of the dictionary: `a`, `b`, `c`.
For every key it used the result of the lambda as the sorting key:

dictionary keys --> sorting key:
* `a  --> 100`
* `b --> 50`
* `c --> 10`

Hence the sort order was 10, 20, 100, which means `c, b, a`

Here's a different example, where we want to sort strings, not based on the lexicographic ordering, but based on the length of the string.

We can easily do this as follows:

In [158]:
t = 'this', 'parrot', 'is', 'a', 'late', 'bird'
sorted(t)

['a', 'bird', 'is', 'late', 'parrot', 'this']

As you can see the natural ordering for strings was used here, but we can change the behavior by specifying the sort key:

Remember that the key is a function that receives the item being sorted, and should return something (else usually!) that we want to use as the sort key. We use lambdas, but you can also use a straight def function too

In [159]:
def sort_key(s):
    return len(s)

In [161]:
t

('this', 'parrot', 'is', 'a', 'late', 'bird')

In [160]:
sorted(t, key=sort_key)

['a', 'is', 'this', 'late', 'bird', 'parrot']

or, using a lambda:

In [162]:
sorted(t, key=lambda s: len(s))

['a', 'is', 'this', 'late', 'bird', 'parrot']

#### Stable Sorting

You might have noticed that the words `this`,  `late` and `bird` all have four characters - so how did Python determine which one should come first? Randomly? No!

The sort algorithm that Python uses, called the *TimSort* (named after Python core developer Tim Peters - yes, the same Tim Peters that wrote the Zen of Python!!), is what is called a **stable** sort algorithm.

This means that items with equal sort keys maintain their relative position.

In [163]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

Now back to stable sorting:

In [164]:
t = 'aaaa', 'bbbb', 'cccc', 'dddd', 'eeee'

In [165]:
sorted(t, key = lambda s: len(s))

['aaaa', 'bbbb', 'cccc', 'dddd', 'eeee']

Now let's change our tuple a bit:

In [166]:
t = 'bbbb', 'cccc', 'aaaa', 'eeee', 'dddd'

In [167]:
sorted(t, key = lambda s: len(s))

['bbbb', 'cccc', 'aaaa', 'eeee', 'dddd']

As you can see, when the sort keys are equal (they are all equal to 4), the original ordering of the iterable is preserved.

So in our original example:

In [168]:
t = 'this', 'parrot', 'is', 'a', 'late', 'bird'

In [169]:
sorted(t, key = lambda s: len(s))

['a', 'is', 'this', 'late', 'bird', 'parrot']

So, `this`, will come before `late` which will come before `bird`.

If we change it up a bit:

In [172]:
t = 'this', 'bird', 'is', 'a', 'late', 'parrot'
sorted(t, key = lambda s: len(s))

['a', 'is', 'this', 'bird', 'late', 'parrot']

you'll notice that now `bird` ends up before `late`.

So this `key` argument makes the `sorted` function extremely flexible. We can now even sort objects that are not even comparable!

In [173]:
c1 = 10 + 2j
c2 = 5 - 3j

In [174]:
c1 < c2

TypeError: '<' not supported between instances of 'complex' and 'complex'

In [175]:
t = 0, 10+10j, 3-3j, 4+4j, 5-2j

In [184]:
c = 10+1j

We can easily calculate the distace from the origin by using the `abs` function:

In [185]:
c.imag,c.real

(1.0, 10.0)

In [176]:
abs(3+4j)

5.0

So now we can use that as a sort key:

In [179]:
sorted(t, key=abs)

[0, (3-3j), (5-2j), (4+4j), (10+10j)]

Of course, you could decide to sort based on the imaginary component instead:

In [186]:
sorted(t, key=lambda c: c.imag)

[(3-3j), (5-2j), 0, (4+4j), (10+10j)]

#### Reversed Sort

We also have the `reverse` keyword-only argument that we can use - basically it sorts the iterable, but returns it reversed:

In [187]:
t = 'this', 'bird', 'is', 'a', 'late', 'parrot'

In [188]:
sorted(t, key=lambda s: len(s))

['a', 'is', 'this', 'bird', 'late', 'parrot']

Of course in this case we could have done it this way too:

In [189]:
sorted(t, key=lambda s: -len(s))

['parrot', 'this', 'bird', 'late', 'is', 'a']

#### In-Place Sorting

So far we have seen the `sorted` function - it returns a new (list) containing the sorted elements, and the original iterable remains the same.

But mutable sequence types, such as lists, also implement in-place sorting - where the original list is sorted (the memory address does not change, the object is actually mutated).

The syntax for calling the sorted method is identical to the `sorted` function, and is implemented using the same TimSort algorithm.

Of course, this will not work with tuples, which are immutable.

In [190]:
l = ['this', 'bird', 'is', 'a', 'late', 'parrot']

In [191]:
id(l)

139696314351168

In [192]:
sorted(l, key=lambda s: len(s))

['a', 'is', 'this', 'bird', 'late', 'parrot']

In [193]:
l, id(l)

(['this', 'bird', 'is', 'a', 'late', 'parrot'], 139696314351168)

As you can see, the list `l` was not mutated and is still the same object.

But this way is different:

In [194]:
result = l.sort(key=lambda s: len(s))

First, the `sort` **method** does not return anything:

In [195]:
type(result)

NoneType

In [196]:
id(l)

139696314351168

In [197]:
l

['a', 'is', 'this', 'bird', 'late', 'parrot']

That's really the only fundamental difference between the two sorts - one is in-place, while the other is not.

You might be wondering if one is more efficient than the other. 

As far as algorithms go, they are the same, so no difference there (one sort is not more efficient than the other). 

But `list.sort()` will be faster than `sorted()` because it does not have to create a copy of the sequence. 

Of course, for iterables other than lists, you don't have much of a choice, and need to use `sorted` anyways.

Let's try timing this a bit to see if we can see the difference:

In [198]:
from timeit import timeit
import random

In [199]:
random.seed(0)
n = 10_000_000
l = [random.randint(0, 100) for n in range(n)]

This produces a list of `n` random integers between 0 and 100.

Now, I'm only going to run the tests once, because when using in-place sorting of `l` we'll end up sorting an already sorted list - and that may very well affect the timing...

In [200]:
l

[49,
 97,
 53,
 5,
 33,
 65,
 62,
 51,
 100,
 38,
 61,
 45,
 74,
 27,
 64,
 17,
 36,
 17,
 96,
 12,
 79,
 32,
 68,
 90,
 77,
 18,
 39,
 12,
 93,
 9,
 87,
 42,
 60,
 71,
 12,
 45,
 55,
 40,
 78,
 81,
 26,
 70,
 61,
 56,
 66,
 33,
 7,
 70,
 1,
 11,
 92,
 51,
 90,
 100,
 85,
 80,
 0,
 78,
 63,
 42,
 31,
 93,
 41,
 90,
 8,
 24,
 72,
 28,
 30,
 18,
 69,
 57,
 11,
 10,
 40,
 65,
 62,
 13,
 38,
 70,
 37,
 90,
 15,
 70,
 42,
 69,
 26,
 77,
 70,
 75,
 36,
 56,
 11,
 76,
 49,
 40,
 73,
 30,
 37,
 23,
 24,
 23,
 4,
 78,
 84,
 33,
 60,
 8,
 11,
 86,
 96,
 16,
 19,
 4,
 10,
 89,
 69,
 87,
 50,
 90,
 67,
 35,
 66,
 30,
 27,
 86,
 75,
 53,
 74,
 35,
 57,
 63,
 84,
 82,
 89,
 45,
 10,
 41,
 78,
 14,
 62,
 75,
 80,
 42,
 24,
 31,
 2,
 93,
 34,
 14,
 90,
 28,
 47,
 21,
 42,
 54,
 7,
 12,
 100,
 18,
 89,
 28,
 5,
 73,
 81,
 68,
 77,
 87,
 9,
 3,
 15,
 81,
 24,
 77,
 73,
 15,
 50,
 11,
 47,
 14,
 4,
 77,
 2,
 24,
 23,
 91,
 15,
 61,
 26,
 93,
 7,
 86,
 2,
 69,
 54,
 79,
 12,
 33,
 8,
 28,
 9,
 82,
 38,
 44,
 55,
 23,
 7,
 64,
 59,
 5,
 76,
 12,
 89,
 50,
 25,
 33,
 45,
 93,
 60,
 72,
 21,
 89,
 86,
 26,
 98,
 7,
 100,
 86,
 20,
 20,
 43,
 67,
 32,
 15,
 76,
 56,
 85,
 22,
 1,
 60,
 87,
 52,
 72,
 65,
 39,
 83,
 45,
 49,
 84,
 32,
 19,
 71,
 88,
 1,
 58,
 94,
 10,
 42,
 94,
 5,
 69,
 35,
 17,
 30,
 97,
 61,
 45,
 78,
 36,
 86,
 45,
 75,
 81,
 79,
 16,
 91,
 39,
 49,
 95,
 53,
 83,
 10,
 0,
 76,
 24,
 89,
 42,
 20,
 30,
 28,
 81,
 57,
 48,
 90,
 86,
 72,
 53,
 4,
 51,
 89,
 72,
 53,
 98,
 84,
 90,
 5,
 21,
 57,
 8,
 33,
 89,
 20,
 57,
 67,
 62,
 71,
 77,
 96,
 0,
 4,
 63,
 41,
 39,
 59,
 6,
 53,
 24,
 70,
 81,
 10,
 92,
 16,
 1,
 51,
 86,
 53,
 40,
 0,
 27,
 1,
 91,
 96,
 0,
 86,
 67,
 78,
 12,
 24,
 15,
 77,
 83,
 25,
 38,
 35,
 88,
 23,
 12,
 60,
 50,
 80,
 10,
 2,
 35,
 57,
 14,
 32,
 17,
 83,
 66,
 83,
 82,
 44,
 14,
 19,
 35,
 2,
 5,
 5,
 26,
 87,
 33,
 71,
 40,
 46,
 72,
 5,
 95,
 89,
 77,
 83,
 63,
 91,
 82,
 58,
 81,
 55,
 47,
 68,
 22,
 26,
 48,
 75,
 37,
 1,
 17,
 19,
 34,
 42,
 43,
 47,
 91,
 11,
 43,
 99,
 79,
 4,
 5,
 34,
 20,
 19,
 74,
 37,
 46,
 50,
 70,
 16,
 37,
 14,
 61,
 93,
 30,
 6,
 39,
 22,
 66,
 93,
 9,
 38,
 51,
 42,
 38,
 53,
 13,
 12,
 71,
 61,
 60,
 43,
 43,
 15,
 61,
 14,
 89,
 63,
 54,
 4,
 38,
 42,
 94,
 87,
 19,
 21,
 80,
 72,
 48,
 81,
 11,
 8,
 10,
 25,
 95,
 28,
 7,
 49,
 1,
 12,
 50,
 71,
 66,
 37,
 57,
 62,
 100,
 74,
 91,
 86,
 27,
 54,
 10,
 47,
 28,
 33,
 74,
 99,
 21,
 55,
 24,
 45,
 14,
 8,
 89,
 3,
 67,
 57,
 96,
 86,
 25,
 15,
 63,
 50,
 32,
 26,
 82,
 5,
 27,
 79,
 18,
 13,
 25,
 58,
 48,
 46,
 69,
 19,
 13,
 76,
 62,
 18,
 72,
 51,
 81,
 87,
 54,
 66,
 63,
 86,
 41,
 63,
 63,
 81,
 85,
 25,
 69,
 78,
 28,
 1,
 43,
 90,
 95,
 40,
 41,
 4,
 67,
 18,
 32,
 77,
 100,
 19,
 48,
 74,
 37,
 91,
 90,
 60,
 8,
 10,
 66,
 5,
 8,
 28,
 16,
 5,
 38,
 1,
 97,
 57,
 42,
 20,
 19,
 83,
 58,
 47,
 64,
 48,
 67,
 64,
 4,
 73,
 11,
 86,
 66,
 97,
 76,
 9,
 95,
 54,
 96,
 26,
 37,
 68,
 76,
 53,
 61,
 49,
 77,
 75,
 29,
 2,
 84,
 0,
 94,
 23,
 38,
 64,
 72,
 32,
 42,
 8,
 63,
 33,
 38,
 98,
 52,
 49,
 49,
 7,
 20,
 82,
 16,
 30,
 36,
 93,
 42,
 7,
 4,
 61,
 53,
 18,
 62,
 77,
 91,
 10,
 86,
 89,
 19,
 45,
 52,
 4,
 78,
 59,
 49,
 58,
 6,
 12,
 60,
 99,
 19,
 2,
 4,
 76,
 79,
 16,
 80,
 41,
 13,
 89,
 70,
 83,
 44,
 24,
 49,
 100,
 99,
 99,
 62,
 14,
 7,
 78,
 89,
 59,
 78,
 80,
 43,
 83,
 15,
 87,
 91,
 79,
 37,
 100,
 16,
 49,
 37,
 95,
 87,
 15,
 66,
 100,
 24,
 4,
 100,
 50,
 56,
 47,
 96,
 24,
 58,
 45,
 80,
 9,
 5,
 5,
 62,
 32,
 3,
 66,
 85,
 72,
 73,
 27,
 29,
 11,
 99,
 80,
 99,
 64,
 89,
 67,
 53,
 64,
 39,
 14,
 18,
 54,
 72,
 54,
 10,
 13,
 53,
 8,
 12,
 53,
 99,
 19,
 93,
 3,
 57,
 55,
 87,
 53,
 3,
 63,
 41,
 92,
 32,
 10,
 45,
 9,
 15,
 45,
 88,
 3,
 44,
 44,
 22,
 1,
 29,
 46,
 9,
 76,
 18,
 26,
 0,
 26,
 84,
 86,
 93,
 15,
 95,
 0,
 37,
 47,
 88,
 3,
 77,
 29,
 18,
 23,
 58,
 14,
 61,
 44,
 90,
 33,
 16,
 3,
 26,
 46,
 42,
 60,
 37,
 37,
 70,
 81,
 41,
 23,
 75,
 10,
 13,
 68,
 74,
 39,
 20,
 48,
 18,
 16,
 28,
 40,
 65,
 31,
 30,
 96,
 23,
 37,
 47,
 53,
 84,
 5,
 16,
 76,
 2,
 50,
 9,
 89,
 9,
 16,
 53,
 38,
 70,
 53,
 94,
 18,
 75,
 54,
 38,
 81,
 45,
 10,
 31,
 56,
 80,
 47,
 81,
 67,
 7,
 48,
 52,
 1,
 53,
 93,
 41,
 56,
 26,
 47,
 37,
 60,
 11,
 23,
 13,
 35,
 14,
 71,
 77,
 88,
 19,
 89,
 57,
 51,
 23,
 98,
 53,
 55,
 22,
 31,
 58,
 43,
 66,
 18,
 45,
 59,
 80,
 81,
 11,
 61,
 96,
 26,
 37,
 0,
 89,
 57,
 79,
 59,
 0,
 27,
 38,
 14,
 98,
 80,
 38,
 69,
 77,
 19,
 54,
 90,
 96,
 60,
 11,
 86,
 63,
 97,
 29,
 69,
 97,
 51,
 35,
 80,
 2,
 15,
 34,
 85,
 5,
 0,
 32,
 50,
 67,
 74,
 90,
 50,
 56,
 13,
 95,
 32,
 45,
 36,
 96,
 86,
 25,
 76,
 10,
 4,
 9,
 33,
 39,
 68,
 43,
 15,
 67,
 31,
 97,
 20,
 8,
 53,
 37,
 36,
 66,
 17,
 73,
 66,
 80,
 26,
 68,
 13,
 52,
 81,
 69,
 51,
 94,
 99,
 100,
 35,
 37,
 56,
 47,
 72,
 80,
 17,
 20,
 15,
 89,
 15,
 48,
 51,
 75,
 59,
 17,
 71,
 85,
 38,
 45,
 80,
 ...]

In [201]:
timeit(stmt='sorted(l)', globals=globals(), number=1)

1.6393911939958343

In [202]:
timeit(stmt='l.sort()', globals=globals(), number=1)

1.3675164190062787

As you can see, the time difference between the two methods, even for `n=10_000_000` is quite small.

I also just want to point out that sorting a list that is already sorted results in much better performance!

In [203]:
random.seed(0)
n = 10_000_000
l = [random.randint(0, 100) for n in range(n)]
timeit(stmt='l.sort()', globals=globals(), number=1)

1.6218351979914587

So now `l` is sorted, and if re-run the sort on it (either method), here's what we get:

In [204]:
timeit(stmt='sorted(l)', globals=globals(), number=1)

0.1766778369928943

In [205]:
timeit(stmt='l.sort()', globals=globals(), number=1)

0.0890810480050277

Substantially faster!!

Hence why I only timed using a single iteration...

#### Natural Ordering for Custom Classes

I just want to quickly show you that in order to have a "natural ordering" for our custom classes, we just need to implement the `<` or `>` operators. (I discuss these operators in Part 1 of this course)

In [ ]:
class MyClass:
    def __init__(self, name, val):
        self.name = name
        self.val = val
        
    def __repr__(self):
        return f'MyClass({self.name}, {self.val})'
    
    def __lt__(self, other):
        return self.val < other.val

In [ ]:
c1 = MyClass('c1', 20)
c2 = MyClass('c2', 10)
c3 = MyClass('c3', 20)
c4 = MyClass('c4', 10)

Now we can sort those objects, without specifying a key, since that class has a natural ordering (`<` in this case). Moreover, notice that the sort is stable.

In [ ]:
sorted([c1, c2, c3, c4])

In fact, we can modify our class slightly so we can see that `sorted` is calling our `__lt__` method repeatedly to perform the sort:

In [ ]:
class MyClass:
    def __init__(self, name, val):
        self.name = name
        self.val = val
        
    def __repr__(self):
        return f'MyClass({self.name}, {self.val})'
    
    def __lt__(self, other):
        print(f'called {self.name} < {other.name}')
        return self.val < other.val

In [ ]:
c1 = MyClass('c1', 20)
c2 = MyClass('c2', 10)
c3 = MyClass('c3', 20)
c4 = MyClass('c4', 10)

In [ ]:
sorted([c1, c2, c3, c4])